/*
 * Style in CSS Modules.
 */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  height: 100vh;
  width: 100vw;

  background-color: var(--bg-primary);
}

.app > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  font-size: 0.9rem;
}

.link {
  font-size: 1.2rem;
  color: var(--primary);
}

.button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;
  background: var(--primary);
  box-shadow: 0 5px 10px 0 #ddd;
  color: white;
  font-size: calc(10px + 2vmin);
}

section {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  max-width: 1024px;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}