.notchedBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid var(--primary); /* for debug */
}

.notchedBox > * {
  z-index: inherit;
}

.notchedBox > svg {
  position: absolute;
  shape-rendering: geometricPrecision;
  overflow: visible;
  /* opacity: 50%; */
}

.boxContent {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
}

.polyDefault {
  fill: var(--bg-primary);
  stroke: var(--accent-section-main);
}
.poly-fill-default {
  fill: var(--accent-section-main);
  stroke: var(--accent-section-main);
  color: var(--primary);
}
.poly-stroke-default {
  fill: var(--bg-primary);
  stroke: var(--accent-section-main);
  color: var(--primary);
}
.poly-fill-bg {
  fill: var(--bg-primary);
  stroke: var(--accent_bg);
}
.poly-stroke-bg{
  fill: var(--bg-primary);
  stroke: var(--accent_bg);
}
.poly-fill-live {
  fill: var(--accent-section-red);
  stroke: var(--accent-section-red);
  color: var(--primary);
}
.poly-stroke-live {
  fill: var(--bg-primary);
  stroke: var(--accent-section-red);
  color: var(--primary);
}
.poly-fill-edu {
  fill: var(--accent-section-blue);
  stroke: var(--accent-section-blue);
  color: var(--primary);
}
.poly-stroke-edu {
  fill: var(--bg-primary);
  stroke: var(--accent-section-blue);
  color: var(--primary);
}
.poly-fill-comm {
  fill: var(--accent-section-yellow);
  stroke: var(--accent-section-yellow);
  color: var(--primary);
}
.poly-stroke-comm {
  fill: var(--bg-primary);
  stroke: var(--accent-section-yellow);
  color: var(--primary);
}

.bgBox {
  fill: var(--bg-secondary);
  stroke: var(--accent_bg);
}

.logoM {
  fill: var(--accent-section);
  stroke: var(--accent-section);
}

.logoName {
  fill: var(--bg-primary);
  stroke: var(--accent-section);
}

.panelBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
  
  fill: var(--bg-primary);
  stroke: var(--accent-section);
}

