/**
 * The global.css defines the style of the entire project,
 * ice.js will globally import this file by default.
 */
:root {
  --primary: #FFFFFF;
  --accent-section: #FFFFFF;
  --accent_bg: #555555;

  --bg-primary: black;
  --bg-secondary: #222222;
}

body {
  margin: 0;
}
